{% load static %}
{% load i18n %}

 <div class="about-area section-padding bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12 info">
            <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
              <div>
                <div class="site-heading">
                  <p class="mb-3">{% trans 'Estatisticas de gerenciamento' %}</p>
                  <h2 class="section-title">{% trans 'estatisitcas da sua empresa' %}</h2>
                </div>
                <div class="content">
                  <p>
                    {% trans 'Aqui teria graficos kkkk' %}
                  </p>
                  <a href="#" class="btn btn-common mt-3">{% trans 'Saiba mais' %}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
            <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="" >
          </div>
        </div>
      </div>
    </div>