{% load static %}
{% load i18n %}
<section id="team" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">{% trans 'Conheça nosso time' %}</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-12 col-xs-12">
              {% for f in funcionarios %}
            <!-- Team Item Starts -->

            <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
<!--              <div class="team-img">-->
<!--                <img class="img-fluid" src="{{ f.image.thumb.url  }}" alt="{{ f.nome }}">-->
<!--              </div>-->
              <div class="contetn">
                <div class="info-text">
                  <h3><a href="#">{{ f.nome }}</a></h3>
                  <p>{{ f.cargo }}</p>
                </div>
                <p>{{ f.bio }}.</p>
                <ul class="social-icons">
                  <li><a href="#"><i class="{{ f.facebook }}" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="{{ f.twitter }}" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="{{ f.isntagram }}" aria-hidden="true"></i></a></li>
                </ul>
              </div>


            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>